.Xauthority
.Xdefaults
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/OpenToonz/
.config/kritadisplayrc
.config/kritarc
.config/pavucontrol.ini
.config/pulse/
.config/systemd/
.dotnet/
.fehbg
.git-credentials
.gitconfig
.lesshst
.local/share/NuGet/
.local/share/krita-sysinfo.log
.local/share/krita.log
.local/share/krita/
.local/share/recently-used.xbel
.local/share/xorg/
.local/state/
.mozilla/
.nuget/
.viminfo
.xinitrc
.xserverrc
Downloads
Pictures
settings.ini
.config/alacritty/themes/
.config/QtProject.conf
.npm/
.vim/
.config/ncmpcpp/error.log
